---
import Container from "~/components/ui/Container.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/Header.astro";
import LocationMap from "~/components/LocationMap.astro";
import { ArrowUpRight } from "lucide-astro";
import RuleLine from "~/components/ui/RuleLine.astro";
import { renderRichText, useStoryblokApi } from "@storyblok/astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get(`cdn/stories/contact`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const { heading, email, locationText, contactText, mapZoom, mapLat, mapLong } =
  data.story.content;
const locationRichText = renderRichText(locationText);
const contactRichText = renderRichText(contactText);
---

<BaseLayout SEO={{ title: "Contact" }}>
  <Header />
  <Container as="section" class="flex flex-col py-16">
    <div class="flex">
      <div class="flex w-full items-center space-x-4">
        <RuleLine maxPoints={35} selectedPoint={1} />
        <h1 class="max-w-40 text-5xl">{heading}</h1>
      </div>
      <div class="flex w-full flex-col">
        <div
          class="flex w-full justify-between border-0 border-t border-black py-8 text-sm text-neutral-700"
        >
          <Fragment set:html={locationRichText} />
          <a href="#map" class="flex text-xs font-bold uppercase text-black"
            ><span>See on Map</span><ArrowUpRight size={16} /></a
          >
        </div>
        <div
          class="flex w-full justify-between border-0 border-t border-black py-8 text-sm text-neutral-700"
        >
          <Fragment set:html={contactRichText} />
          <a
            href={`mailto:${email}`}
            class="flex text-xs font-bold uppercase text-neutral-700"
            ><span>{email}</span><ArrowUpRight size={16} /></a
          >
        </div>
      </div>
    </div>
    <LocationMap mapZoom={mapZoom} latLng={[mapLat, mapLong]} class="mt-8" />
  </Container>
  <Footer />
</BaseLayout>
