---
import "leaflet/dist/leaflet.css";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  latLng: [number | string, number | string];
  mapZoom?: number | string;
}

const { class: className, mapZoom = 10, latLng, ...rest } = Astro.props;
---

<div
  id="map"
  data-location={[latLng]}
  data-zoom={mapZoom}
  class="z-0 h-96 w-full"
  class:list={[className]}
  {...rest}
>
</div>

<script>
  import L from "leaflet";

  const mapEl = document.querySelector!<HTMLDivElement>("#map")!;
  const latLng = mapEl.dataset.location?.split(",").map((val) => +val) as [
    number,
    number,
  ];
  const zoom = +mapEl.dataset.zoom!;

  const map = L.map("map", { attributionControl: false }).setView(latLng, zoom);

  const customMarker = new L.Icon({
    iconUrl: "/map_marker.svg",
    iconSize: [50, 50],
  });

  L.marker(latLng, {
    icon: customMarker,
  }).addTo(map);

  const apiKey = import.meta.env.STADIA_API_KEY;
  L.tileLayer(
    `https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.{ext}?api_key=${apiKey}`,
    {
      minZoom: 0,
      maxZoom: 20,
      // @ts-ignore
      ext: "png",
    },
  ).addTo(map);
</script>
